<div class="container comment vote bg-light px-4 pt-2">
    <div class="d-flex flex-row">
        <p class="pe-3 mb-2"><strong>{{ app_repository_singleton.get_user_by_id(comment.author_id).username }}</strong>
        </p>
        <p class="pe-3 mb-2"><span class="points">{{ app_repository_singleton.get_net_comment_votes(comment.comment_id)
                }}</span> points</p>
        <p class="pe-3 mb-2">Submitted {{ comment.timestamp }}</p>
    </div>
    <div class="edit-comment-container">
        <p class="mb-2">{{ comment.content }}</p>
        <form hidden>
            <textarea id="edit-comment" class="form-control mb-2" style="min-height: 125px; background-color: white;"
                required>Lorem</textarea>
            <label for="edit-comment"></label>
            <button type="button" class="cancel-button btn btn-primary mt-2 mb-3 me-2">Cancel</button>
            <button type="submit" class="submit-button btn btn-primary mt-2 mb-3">Submit</button>
        </form>
    </div>
    <div class="d-flex flex-row pb-3">
        <div class="px-2">
            <button class="btn btn-light bg-transparent upvote-button border-0 p-0">
                <i class="fa-solid fa-arrow-up-long" style="color: #000000;"></i>
            </button>
            <button class="btn btn-light bg-transparent downvote-button border-0 p-0">
                <i class="fa-solid fa-arrow-down-long" style="color: #000000;"></i>
            </button>
        </div>
        <a class="edit-comment-link px-2" href="#">Edit</a>
        <a class="delete-comment-link px-2" href="#">Delete</a>
        <a class="reply-comment-link px-2" href="#">Reply</a>
        <a class="save-comment-link px-2" href="#">Save</a>
    </div>
    <div class="reply-comment-container" hidden>
        <form>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="reply-comment" placeholder="Leave a comment here"
                    style="height: 100px" required></textarea>
                <label for="reply-comment">Comments</label>
            </div>
            <button type="button" class="cancel-button btn btn-primary mb-3 me-2">Cancel</button>
            <button type="submit" class="submit-button btn btn-primary mb-3">Submit</button>
        </form>
    </div>
</div>

<script>
    const commentContainers = document.querySelectorAll(".comment");

    commentContainers.forEach(container => {
        const replyToCommentContainer = container.querySelector('.reply-comment-container');
        const editCommentContainer = container.querySelector('.edit-comment-container');
        const replyLink = container.querySelector('.reply-comment-link');
        const editLink = container.querySelector('.edit-comment-link');

        replyLink.addEventListener('click', function () {
            event.preventDefault();
            replyToCommentContainer.removeAttribute('hidden');

            const cancelButton = replyToCommentContainer.querySelector('.cancel-button');
            cancelButton.addEventListener("click", function () {
                replyToCommentContainer.setAttribute('hidden', true);
            });
        });

        editLink.addEventListener('click', function () {
            event.preventDefault();
            const paragraphText = editCommentContainer.querySelector('p');
            paragraphText.setAttribute('hidden', true);

            const editCommentForm = editCommentContainer.querySelector('form');
            editCommentForm.removeAttribute('hidden');

            const textarea = editCommentContainer.querySelector('textarea');
            textarea.focus();

            const cancelButton = editCommentContainer.querySelector('.cancel-button');
            cancelButton.addEventListener("click", function () {
                editCommentForm.setAttribute('hidden', true);
                paragraphText.removeAttribute('hidden');
            });
        });
    });
</script>