{% set vote = vote_repository_singleton.get_comment_vote_by_comment_and_user_ids(comment.post_id,
session.get('user_id'))
%}

<div class="container comment vote px-4 pt-2 mb-3 bg-light" data-comment-id="{{ comment.comment_id }}">
    <div class=" d-flex flex-row">
        <a href="#" class="pe-3 mb-2">{{ comment.author.username }}</a>
        <p class="pe-3 mb-2"><span class="points">{{
                vote_repository_singleton.get_net_comment_votes(comment.comment_id) }}</span> points</p>
        <p class="pe-3 mb-2">{{ comment.timestamp }} hour ago</p>
    </div>
    <div class="edit-comment-container">
        <p class="mb-2">{{ comment.content }}</p>
        <form hidden>
            <textarea id="edit-comment" class="form-control mb-2" style="min-height: 125px; background-color: white;"
                required>Lorem</textarea>
            <label for="edit-comment"></label>
            <button type="button" class="cancel-button btn btn-primary mt-2 mb-3 me-2">Cancel</button>
            <button type="submit" class="submit-button btn btn-primary mt-2 mb-3">Submit</button>
        </form>
    </div>
    <div class="d-flex flex-row pb-3">
        {% if session.get('user_id') %}
        <div class="px-2">
            <button class="btn btn-light bg-transparent upvote-button border-0 p-0" {% if vote and vote.is_upvote %}
                disabled {% endif %}>
                <i class="fa-solid fa-arrow-up-long" style="color: #000000;"></i>
            </button>
            <button class="btn btn-light bg-transparent downvote-button border-0 p-0" {% if vote and not vote.is_upvote
                %} disabled {% endif %}>
                <i class="fa-solid fa-arrow-down-long" style="color: #000000;"></i>
            </button>
        </div>
        {% endif %}
        {% if session.get('user_id') == comment.author_id %}
        <a class="edit-comment-link px-2" href="#">Edit</a>
        <a class="delete-comment-link px-2" id="delete-comment-link" href="#">Delete</a>
        <script>
            const deleteCommentLink = document.getElementById("delete-comment-link");

            deleteCommentLink.addEventListener("click", function (e) {
                e.preventDefault();
                const confirmation = confirm("Are you sure want to delete this comment?");

                if (confirmation) {
                    const form = document.createElement("form");
                    form.action = "/comments/{{ comment.comment_id }}/delete";
                    form.method = "post";
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    // do nothing
                }
            });
        </script>
        {% endif %}
    </div>
</div>