{% extends '_template.html' %}

{% block body %}
<!-- Header -->
<div>
    <h1 class="text-center bg-secondary text-white p-5 mb-4">/{{ existing_post.community_name }}</h1>
</div>
<!-- Post container -->
<div class="container vote bg-light mb-4 pt-4 px-4">
    <p class="mb-2">
        <strong class="pe-2">{{ existing_post.title }}</strong><span class="points">{{ existing_post.points }}</span> points
    </p>
    <p class="mb-2">Submitted X hours ago by <a href="#">{{ author.username}}</a></p>
    <div id="edit-post-container">
        <textarea id="post-textarea" class="form-control" style="min-height: 125px; background-color: white;" disabled> {{ existing_post.content }}</textarea>
    </div>
    <div class="d-flex flex-row pt-1">
        <div class="px-2">
            <button class="btn btn-light bg-transparent upvote-button border-0 p-0">
                <i class="fa-solid fa-arrow-up-long" style="color: #000000;"></i>
            </button>
            <button class="btn btn-light bg-transparent downvote-button border-0 p-0">
                <i class="fa-solid fa-arrow-down-long" style="color: #000000;"></i>
            </button>
        </div>
        <div class="d-flex flex-row pb-3">
            {% if session['user_id'] == author.user_id %}
            <a class="px-2" id="edit-post-link" href="/posts/{{ existing_post.post_id }}/edit">Edit</a>
            <a class="px-2" id="delete-post-link" href="/posts/{{ existing_post.post_id }}/delete">Delete</a>
            {% endif %}
            <a class="px-2" id="reply-post-link" href="#">Reply</a>
        </div>
    </div>
    <!-- REPLY TO POST CONTAINER-->
    <div id="reply-post-container" hidden>
        <form>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="reply-post" placeholder="Leave a comment here"
                    style="height: 100px"></textarea>
                <label for="reply-post">Comments</label>
            </div>
            <button type="button" class="cancel-button btn btn-primary mb-3 me-2">Cancel</button>
            <button type="submit" class="submit-button btn btn-primary mb-3">Submit</button>
        </form>
    </div>
</div>
<div class="container">
    <h5>All comments</h5>
</div>

<script>
    const voteContainers = document.querySelectorAll(".vote");

    voteContainers.forEach(container => {
        const upVoteButton = container.querySelector('.upvote-button');
        const downVoteButton = container.querySelector('.downvote-button');
        const points = container.querySelector('.points');
        let hasUpVoted = false;
        let hasDownVoted = false;

        upVoteButton.addEventListener('click', function () {
            if (hasDownVoted) {
                points.textContent = parseInt(points.textContent) + 1;
                downVoteButton.disabled = false;
                upVoteButton.disabled = false;
                hasUpVoted = false;
                hasDownVoted = false;
            } else if (!hasUpVoted) {
                points.textContent = parseInt(points.textContent) + 1;
                upVoteButton.disabled = true;
                downVoteButton.disabled = false;
                hasUpVoted = true;
                hasDownVoted = false;
            }
        });

        downVoteButton.addEventListener('click', function () {
            if (hasUpVoted) {
                points.textContent = parseInt(points.textContent) - 1;
                upVoteButton.disabled = false;
                downVoteButton.disabled = false;
                hasUpVoted = false;
                hasDownVoted = false;
            } else if (!hasDownVoted) {
                points.textContent = parseInt(points.textContent) - 1;
                downVoteButton.disabled = true;
                upVoteButton.disabled = false;
                hasDownVoted = true;
                hasUpVoted = false;
            }
        });
    });
</script>

<script>
    const replyToPostLink = document.getElementById("reply-post-link");

    replyToPostLink.addEventListener("click", function () {
        event.preventDefault();
        const replyToPostContainer = document.getElementById("reply-post-container")
        replyToPostContainer.removeAttribute('hidden');

        const cancelButton = replyToPostContainer.querySelector('.cancel-button');
        cancelButton.addEventListener("click", function () {
            replyToPostContainer.setAttribute('hidden', true);
        });

        const submitButton = replyToPostContainer.querySelector('.submit-button');
        submitButton.addEventListener("click", function () {
            replyToPostContainer.setAttribute('hidden', true);
        });
    }); 
</script>
{% endblock %}