{% if 'user_id' in session and 'username' in session %}
<div class="card">
    <img src="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg" class="card-img-top" alt="{{ user.username }}'s profile picture">
    <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <p class="card-text">{{ user.bio}}</p>
        <a href="/posts/new" class="btn btn-primary" style="width:100%; margin-top:10px;">Submit a new post</a>
        <a href="/users/{{ user.user_id }}/edit" class="btn btn-primary" style="width:100%; margin-top:10px;">Edit Account</a>
        <a href="/users/{{ user.user_id }}/delete"  class="btn btn-danger" style="width:100%; margin-top:10px;">Delete Account</a>
    </div>
</div>
{% else %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group mb-2">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Login</button>
            <p class="mb-2">Don't have an account? <a href="/signup">Sign Up</a></p>
        </form>
    </div>

</div>
{% endif %}