{% extends '_template.html' %}

{% block body %}
<div>
    <h1 class="text-center p-5 bg-secondary text-white">World News</h1>
</div>
<div class="mt-4 mb-3 container pt-4 pb-1 px-4" style="background-color: #b8b8b8;">
    <div class="d-flex flex-column">
        <div class="px-2 pb-1"><strong>Lorem ipsum dolor sit amet, consectetur</strong> - 14 points</div>
        <div class="px-2 pb-2">submitted 9 hours ago by <a href="">john-smith</a></div>               
    </div>
    <textarea class="form-control" disabled style="height: 110px; background-color: white;" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta molestiae magni officiis asperiores iure perspiciatis distinctio, suscipit facere accusamus nobis vitae natus consequuntur eos repellat, aliquam omnis. Doloremque, quaerat iste? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta molestiae magni officiis asperiores iure perspiciatis distinctio, suscipit facere accusamus nobis vitae natus consequuntur eos repellat, aliquam omnis. Doloremque, quaerat iste. eos repellat, aliquam omnis. Doloremque, quaerat iste?</textarea>
    <div class="d-flex flex-row mb-3 mt-2">
        <div class="pb-2 d-flex flex-row"> 
            <div class="px-2">
                <button class="btn btn-light border-0 p-0 bg-transparent">
                    <i class="fa-solid fa-arrow-up-long" style="color: #000000;"></i>
                    <i class="fa-solid fa-arrow-down-long" style="color: #000000;"></i>
                </button>             
            </div>
        </div> 
        <div class="px-2"><a href="">Reply</a></div>
        <div class="px-2"><a href="">Save</a></div>
        <div class="px-2"><a href="">Report</a></div>
        
    </div>        
</div>
<div class="container">
    <h2 class="mb-3">Comments</h2>
</div>
<div class="container mb-4">
    <div class="d-flex flex-column pt-2 pb-2 px-4" style="background-color: #b8b8b8;">            
        <div class="d-flex flex-row pb-2">
            <div class="px-2"><a href="">sergio-joya</a></div>
            <div class="px-2">8 points</div>            
            <div class="px-2">1 hour ago</div>
        </div>  
        <div class="px-2 pb-2">Lorem ipsum dolor sit amet, consectetur distinctio, suscipit facere accusamus nobis vitae natus consequuntur eos </div>
        <div class="d-flex flex-row">
            <div class="pb-2 d-flex flex-row"> 
                <div class="px-2">
                    <button class="btn btn-light border-0 p-0 bg-transparent">
                        <i class="fa-solid fa-arrow-up-long" style="color: #000000;"></i>
                        <i class="fa-solid fa-arrow-down-long" style="color: #000000;"></i>
                    </button>             
                </div>
            </div> 
            <div class="px-2"><a href="">Reply</a></div>
            <div class="px-2"><a href="">Save</a></div>
            <div class="px-2"><a href="">Report</a></div>
        </div>  
    </div>
</div>
<div class="container mb-4">
    <div class="d-flex flex-column pt-2 pb-2 px-4" style="background-color: #b8b8b8;">            
        <div class="d-flex flex-row pb-2">
            <div class="px-2"><a href="">sergio-joya</a></div>
            <div class="px-2">5 points</div>            
            <div class="px-2">2 hours ago</div>
        </div>  
        <div class="px-2 pb-2">Lorem ipsum dolor sit amet, consectetur distinctio, suscipit facere accusamus nobis vitae natus consequuntur eos </div>
        <div class="d-flex flex-row">
            <div class="pb-2 d-flex flex-row"> 
                <div class="px-2">
                    <button class="btn btn-light border-0 p-0 bg-transparent">
                        <i class="fa-solid fa-arrow-up-long" style="color: #000000;"></i>
                        <i class="fa-solid fa-arrow-down-long" style="color: #000000;"></i>
                    </button>             
                </div>
            </div> 
            <div class="px-2"><a href="">Reply</a></div>
            <div class="px-2"><a href="">Save</a></div>
            <div class="px-2"><a href="">Report</a></div>
        </div>  
    </div>
</div>
<div class="container mb-4">
    <div class="d-flex flex-column pt-2 pb-2 px-4" style="background-color: #b8b8b8;">            
        <div class="d-flex flex-row pb-2">
            <div class="px-2"><a href="">sergio-joya</a></div>
            <div class="px-2">2 points</div>            
            <div class="px-2">3 hours ago</div>
        </div>  
        <div class="px-2 pb-2">Lorem ipsum dolor sit amet, consectetur distinctio, suscipit facere accusamus nobis vitae natus consequuntur eos </div>
        <div class="d-flex flex-row">
            <div class="pb-2 d-flex flex-row"> 
                <div class="px-2">
                    <button class="btn btn-light border-0 p-0 bg-transparent">
                        <i class="fa-solid fa-arrow-up-long" style="color: #000000;"></i>
                        <i class="fa-solid fa-arrow-down-long" style="color: #000000;"></i>
                    </button>             
                </div>
            </div> 
            <div class="px-2"><a href="">Reply</a></div>
            <div class="px-2"><a href="">Save</a></div>
            <div class="px-2"><a href="">Report</a></div>
        </div>  
    </div>
</div>
{% endblock %}